@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,800);
header {
    color: #000000; font: 36px "Source Sans Pro", sans-serif; font-weight: 800;
    text-align: center;
    border: 5px solid #303F9F;

}
section {
    color: #000000; font: 24px "Source Sans Pro", sans-serif; font-weight: 400;
    border: 20px solid #ffffff;
}

p   {
    color: #000000; font: 16px "Source Sans Pro", sans-serif; font-weight: 400;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}